# sentence-transformers
# langchain
# flask
# pypdf
# python-dotenv
# pinecone[grpc]
# langchain-pinecone
# langchain_community
# langchain_openai
# langchain_experimental
# langchain-huggingface
# -e .

flask
pypdf
python-dotenv
sentence-transformers
torch
transformers
scispacy
spacy
ctgan
pandas
scikit-learn
langchain
langchain-huggingface
langchain_community
langchain_experimental
pinecone[grpc]
langchain-pinecone
# -e .
